.App{
  text-align: center;
  margin-top:20px;
}
form{
  margin-top: 20px;
}

label{
  font-weight: bolder;
}

input{
  padding: 5px;
  margin: 0px 10px;
}

button{
  padding: 5px 10px;
  background-color: lightcyan;
  color: white;
  border: none;
  cursor: pointer;
}

h3{
  margin-top: 20px;
  font-size: 18px;
  color: black;
}